@import "../../../styles/index.scss";

.navBar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  z-index: 1;
}

.mainContainer {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.navBarText {
  font-size: 24px;
  font-weight: $weightSemi;
}

.baseIcon {
  width: 40px;
  height: 40px;
  fill: white;
}

.userIcon {
  @extend .baseIcon;
  fill: white;
}

.calendarIcon {
  @extend .baseIcon;
}

.shoppingCartIcon {
  @extend .baseIcon;
}

.shoppingCartIconAdd {
  @extend .baseIcon;
  fill: red;
}
