@import "../../../styles/index.scss";

.componentContainer {
  margin-top: 15px;
  width: 90%;
  height: 100%;
}

.header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: $weightSemi;
}

.nameHeader {
  @extend .header;
}

.containerBase {
  margin-bottom: 16px;
}

.nameContainer {
  @extend .containerBase;
  display: flex;
  flex-direction: column;
}

.ingredientsContainer {
  @extend .containerBase;
}

.recipeContainer {
  @extend .containerBase;
  margin-bottom: 8px;
}

.mealNameInput {
}

.textAreaBase {
  align-items: baseline;
  min-height: 70px;
  min-width: 100%;
  box-sizing: border-box;
}

.recipeTextArea {
  @extend .textAreaBase;
}

.additionalInfoTextArea {
  @extend .textAreaBase;
  margin-bottom: 16px;
}

.addNewIngredientInputContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba($color: $black-color, $alpha: 0.25);
}

.addNewIngredientInput {
  border: none;
  outline: none;
}

.button {
  margin-bottom: 15px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}
