@import "../../../styles/index.scss";

.componentContainer {
  margin-top: 15px;
  width: 90%;
  height: 100%;
}

.header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: $weightSemi;
}

.nameHeader {
  @extend .header;
  margin-bottom: 0px;
}

.containerBase {
  margin-bottom: 15px;
}

.nameContainer {
  @extend .containerBase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredientsContainer {
  @extend .containerBase;
}

.recipeContainer {
  @extend .containerBase;
}

.mealNameInput {
  width: 70%;
}

.textAreaBase {
  margin-bottom: 15px;
  align-items: baseline;
  min-height: 60px;
  min-width: 100%;
}

.additionalInfoTextArea {
  @extend .textAreaBase;
}

.recipeTextArea {
  @extend .textAreaBase;
}

.addNewIngredientInputContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba($color: $black-color, $alpha: 0.25);
}

.addNewIngredientInput {
  border: none;
  outline: none;
}

.button {
  // width: 90%;
  margin-bottom: 15px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
