@import "../../styles/index.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.paper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputsContainer {
  width: 85%;
}

.inputs {
  width: 100%;
  margin-top: 30px;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.checkboxContainer {
  display: flex;
  margin-top: 10px;
}

.regulationsOfServiceText {
  margin-left: 10px;
  font-size: 12px;
}

.reCaptcha {
  margin-top: 40px;
}

.button {
  margin-top: 20px;
  width: 50%;
}

@include mediumDevice() {
  .mainContainer {
    min-height: 100vh;
  }

  .paper {
    width: 800px;
    height: 600px;
  }

  .inputsContainer {
    width: 40%;
  }

  .button {
    width: 25%;
  }
}
