@import "../../styles/index.scss";

.componentContainer {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cookifyLogo {
}

.header {
  font-weight: $weightSemi;
  font-size: 32px;
}

.inputsContainer {
  width: 85%;
  margin-top: 10px;
}

.reCaptcha {
  margin-top: 20px;
}

.infoContainer {
  height: 15%;
  width: 85%;
}

.Loader {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 85%;
  border-radius: 20px;
}

.registerButton {
  @extend .button;
  margin-top: 10px;
}

.loginButton {
  @extend .button;
}

.inputs {
  width: 100%;
  margin-top: 20px;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.checkboxContainer {
  display: flex;
  margin-top: 10px;
}

.regulationsOfServiceText {
  margin-left: 10px;
  font-size: 12px;
}

@include mediumDevice() {
  .infoContainer {
    width: 40%;
  }

  .inputsContainer {
    width: 40%;
  }

  .button {
    width: 40%;
  }

  .inputsContainer {
    margin-top: 10px;
  }

  .errorContainer {
    position: relative;
  }
}
