$white-color: #ffffff;
$black-color: #000000;
$primary-color: #2385ff;
$primary-color-brighter: #93c4ff;
$complementary-color: #e49915;
$complementary-color-brighter: #ffc45d;
$input-border-color: #c4c4c4;
$infobar-box-red-color: #f8d7da;
$infobar-text-red-color: #721c24;
$infobar-box-blue-color: #84bbff;
$infobar-text-blue-color: #2385ff;
$loader-border-color: #f3f3f3;
