$white-color: #ffffff;
$primary-color: #257bfe;
$error-color: #ff0000;
$login-background-color: #e5e5e5;
$black-color: #000000;
$menu-background-color: #f6f7fb;
$input-border-color: #c4c4c4;
$error-box-color: #f8d7da;
$error-box-text: #721c24;
$loader-border-color: #f3f3f3;
$black-overlay-color: #00000088;
$datagrid-headers-color: #141e65;
$datagrid-headers-underline-color: #ededed;
$datagrid-footer-color: #e7e8ef;
$room-status-available-color: #32ba43;
$room-status-unavailable-color: #ff1010;
$room-status-reservation-color: #ff9e15;
$navbar-item-name-color: #141e65;
$navbar-item-logout-color: #ff052a;
$avatar-and-navbar-item-color: #3c72fa;
$navbar-desktop-item-color: #8c97a1;
$disabled-input-color: #eeeeee;
$info-bar-succeeded-box-color: #d7f8d9;
$info-bar-succeeded-text-color: #32be3f;
$borrow-status-ended-color: #7e7e7e;
$close-button-color: #ff1010;
$required-color: #f64336;
