@import "../../styles/index.scss";

.componentContainer {
  width: 100%;
  height: 100%;
  background-color: $complementary-color-brighter;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $complementary-color-brighter;
  padding-bottom: 15px;
  margin-top: 10px;
}

.shoppingListItems {
  align-self: center;
  width: 90%;
}

.shareButton {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  align-self: flex-end;
  width: 120px;
  border-radius: 20px;
  background-color: $primary-color;
  color: white;
  font-weight: $weightSemi;
}

.addItemButton {
  width: 90%;
  border-radius: 20px;
  align-self: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  padding: 0px 25px;
  margin-bottom: 2px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  font-weight: $weightSemi;
}

.inputText {
  font-size: 16px;
  outline: none;
  border: none;
  background-color: $complementary-color-brighter;
  width: 100%;
}

.inputPlusIcon {
  font-size: 32px;
}

.inputUnderline {
  margin-bottom: 5px;
  border-bottom: 1px solid;
}

.infoContainer {
  align-self: center;
  height: 40px;
  width: 90%;
}

.infoBar {
  margin: 0px;
}

.infoBarText {
  padding: 4px 24px;
}

@include mediumDevice() {
}
