@import "../../../styles/index.scss";

.errorContainer {
  // background-color: $error-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.errorText {
  color: $white-color;
  font-size: 15px;
  margin-left: 5px;
  align-self: center;
}

.errorIcon {
  align-self: center;
}
