@import "../../styles/index.scss";

.searchInputBorder {
  margin-top: 16px;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 16px;
}

.searchInput {
  border-radius: 20px;
}

.addNewMealButton {
  width: 70%;
  margin-bottom: 32px;
}

.mealsListContainer {
  width: 90%;
}
