@import "../../../styles/index.scss";

.itemContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  width: 92%;
  font-size: 16px;
  background-color: $complementary-color-brighter;
  color: black;
  overflow-x: auto;
}

.textChecked {
  @extend .text;
  text-decoration: line-through;
}

.underline {
  margin-bottom: 5px;
  border-bottom: 1px solid;
  width: 100%;
  opacity: 30%;
}

.deleteButton {
  color: black;
  margin-right: 5px;
  font-size: 16px;
  font-weight: $weightSemi;
  cursor: pointer;
}

@include mediumDevice() {
  .li {
    margin-left: 50px;
  }
}
