@import "../../../styles/index.scss";

.itemContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  width: 90%;
  font-size: 16px;
  background-color: $complementary-color-brighter;
  color: black;
}

.underline {
  margin-bottom: 5px;
  border-bottom: 1px solid;
  width: 95%;
}

.liChecked {
  color: $shoppping-list-checked-product-color;
}

.underlineChecked {
  @extend .underline;
  color: $shoppping-list-checked-product-color;
}

.deleteButton {
  color: black;
  margin-right: 5px;
  font-size: 16px;
  font-weight: $weightSemi;
  cursor: pointer;
}
