@import "../../../styles/index.scss";

.itemContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 90%;
  border-width: 0px;
  border: none;
}

.underLine {
  border-bottom: 1px solid;
  width: 96%;
}

.deleteButton {
  cursor: pointer;
}
