@import "../../../styles/index.scss";

.componentContainer {
  width: 90%;
  height: 100%;
}

.iconsContainer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.icon {
  width: 24px;
  height: 24px;
}

.pencilIcon {
  @extend .icon;
}

.trashCanIcon {
  @extend .icon;
  fill: $trashCan-icon-color;
}

.header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: $weightSemi;
}

.nameHeader {
  @extend .header;
}

.mealNameInput {
  overflow-wrap: anywhere;
}

.containerBase {
  margin-bottom: 15px;
}

.nameContainer {
  @extend .containerBase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredientsContainer {
  @extend .containerBase;
}

.recipeContainer {
  @extend .containerBase;
}

.additionalInfoContainer {
  @extend .containerBase;
}

.addItemInput {
  border: none;
  outline: none;
}

.button {
  margin-bottom: 15px;
}
