@import "../../../styles/index.scss";

.componentContainer {
  width: 90%;
  height: 100%;
}

.iconContainer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.pencilIcon {
  width: 24px;
  height: 24px;
}

.header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: $weightSemi;
}

.nameHeader {
  @extend .header;
  margin-bottom: 0px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.mealNameInput {
  width: 70%;
}

.containerBase {
  margin-bottom: 15px;
}

.nameContainer {
  @extend .containerBase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredientsContainer {
  @extend .containerBase;
}

.recipeContainer {
  @extend .containerBase;
}

.additionalInfoContainer {
  @extend .containerBase;
}

.addItemInput {
  border: none;
  outline: none;
}

.button {
  margin-bottom: 15px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
